<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981372260989-qr9jpha9s40evddk9q7uikpfthglnua1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981372260989-qr9jpha9s40evddk9q7uikpfthglnua1</string>
	<key>API_KEY</key>
	<string>AIzaSyBdRxQ_SaJODw6_auYX_uPOX2s2RnP_D54</string>
	<key>GCM_SENDER_ID</key>
	<string>981372260989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tankdrumLearning</string>
	<key>PROJECT_ID</key>
	<string>oceanic-base-250909</string>
	<key>STORAGE_BUCKET</key>
	<string>oceanic-base-250909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981372260989:ios:7f34264d56de45caaf9714</string>
</dict>
</plist>